In [1]:
import pandas as pd
import numpy as np

data = {
    'Name': ['alice', 'bob', 'charlie', 'david'],
    'Age': [25, 30, 35, 40],
    'salary': [50000, 60000, 70000, 80000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  salary
0    alice   25   50000
1      bob   30   60000
2  charlie   35   70000
3    david   40   80000

In [3]:
print(df.head(2))

    Name  Age  salary
0  alice   25   50000
1    bob   30   60000

In [5]:
print(df.describe())

             Age        salary
count   4.000000      4.000000
mean   32.500000  65000.000000
std     6.454972  12909.944487
min    25.000000  50000.000000
25%    28.750000  57500.000000
50%    32.500000  65000.000000
75%    36.250000  72500.000000
max    40.000000  80000.000000

In [7]:
print(df['Age'].mean())

32.5

In [9]:
print(df[df['Age']>30])

      Name  Age  salary
2  charlie   35   70000
3    david   40   80000

In [11]:
print(df.loc[1:2,['Name','salary']])

      Name  salary
1      bob   60000
2  charlie   70000

In [13]:
df_with_nan=pd.DataFrame({
    'A':[1,2,np.nan,4],
    'B':[5,np.nan,np.nan,8]
})

In [15]:
print(df_with_nan.fillna(value=0))

     A    B
0  1.0  5.0
1  2.0  0.0
2  0.0  0.0
3  4.0  8.0

In [17]:
print(df_with_nan.dropna())

     A    B
0  1.0  5.0
3  4.0  8.0

In [19]:
df['Department'] = ['HR', 'Tech', 'Tech', 'HR']
print(df.groupby('Department')[['Age', 'salary']].mean())

             Age   salary
Department
HR          32.5  65000.0
Tech        32.5  65000.0

In [21]:
df2=pd.DataFrame({
    'Name':['Alice','Bob','Eve'],
    'bonus':[2000,1500,3000]
})
print(pd.merge(df,df2,on='Name',how='left'))

      Name  Age  salary Department  bonus
0    alice   25   50000         HR    NaN
1      bob   30   60000       Tech    NaN
2  charlie   35   70000       Tech    NaN
3    david   40   80000         HR    NaN

In [23]:
import pandas as pd

date_rng = pd.date_range(start='1/1/2023', end='1/10/2023', freq='D')
print(date_rng)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [25]:
ts = pd.DataFrame(date_rng, columns=['date'])

In [27]:
ts.set_index('date',inplace=True)

In [29]:
ts['value']=np.random.randint(0,100,size=(len(date_rng)))

In [31]:
print(ts.resample('3D').mean())

                value
date
2023-01-01  68.666667
2023-01-04  53.000000
2023-01-07  33.333333
2023-01-10  30.000000